aws_region = "us-east-1"
tfstate_bucket = "hariterraforms3-2025"
tfstate_dynamodb_table = "terraform-locks-grafana"
key_pair_name = "my-keypair"
ssh_allowed_cidr = "x.x.x.x/32"
db_password = "DBPassword"
grafana_admin_password = "Grafanapass"
