aws_region = "us-east-1"
tfstate_bucket = "hariterraforms3-2025"
tfstate_dynamodb_table = "terraform-locks-grafana"
key_pair_name = "my-keypair"
ssh_allowed_cidr = "3.108.70.18/32"
db_password = "HariRDSDB@2025"
grafana_admin_password = "HariGrafana@2025"
